// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #f6f6f6;
//$subtitle-color: lighten($header-bg, 58);
$page-bg: #3c3c3c;

$nav-bg: #f6f6f6;
$nav-color: #555555;
$nav-color-hover: #fcb040;
$sidebar-link-color: #555555;
$sidebar-link-color-hover: #fcb040;
$link-color: #f1592a;
$link-color-hover: #fcb040;
$link-color-visited: #ffd08e;
$link-color-active: #fcb040;

/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;
