// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com
$dark-orange: #f1592a;
$medium-orange: #f2ab42;
$medium-light-orange: #fcb040;
$light-orange: #ffd08e;
$dark-bg: #3c3c3c;
$light-bg: #f6f6f6;
$medium-gray: #555555;
$border-color: #e5e5e5;

$page-bg: $dark-bg;

$nav-bg: $light-bg;
$nav-color: $medium-gray;
$nav-color-hover: $medium-light-orange;
$nav-border-bottom: $border-color;

$sidebar-link-color: $medium-gray;
$sidebar-link-color-hover: $medium-light-orange;

$link-color: $dark-orange;
$link-color-hover: $medium-orange;
$link-color-visited: $dark-orange;
$link-color-active: $medium-orange;

/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;
